header {
    background-image: url(../images/header.png);
    background-position: center;
    
}

.content2{
    padding-top: 20px;
}

.content3{
    padding: 5px;
    border-bottom: 1px solid #fff;
}

.content4{
    font-size: 8px;
}

.item2 {
    padding: 5px;
    border: 10px;
}

.bot{
    font-size: 11px;
}

a:link, a:visited {
    background-color: #2a93c9;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
}
  
a:hover, a:active {
    background-color: #000;
}

.item4 {
    margin: 20px;
}

footer {
    background: #2a93c9;
    color: #fff;
    padding: 25px;
    margin-top: 30px;
}

.last{
    font-size: 10px;
}


.hinh1{
    background-position: center;
    background-image: url(../images/background-04-1920x980.jpg);
}

.latest{
    padding-top: 50px;
}

.to{
    padding-top: 150px;
}

.hinh2{
    background-position: center;
    background-image: url(../images/background-03-1920x939.jpg);
}

.move{
    margin-bottom: 100px;
}

.phu{
    color: #fff;
    
}